
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: .3s;
    background: rgba(0, 0, 0, 0.6);


}

.header-container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-body {
    padding: 24px 0;
    gap: 20px;
    align-items: center;
    transition: .3s;
    position: relative;
    z-index: 2;
    justify-content: space-between;

}

.header-logo {
    color: white;
}


.header-logo {
    flex: 1 1 auto;
}


.menu-bg {
    display: none;
}

.menu-list {
    gap: 50px;
}

.menu-list li a {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    color: white;
    transition: .3s;

}


.header-actions {
    gap: 10px;
    margin-left: auto;
}

.btn-login {
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;
    text-align: center;
    color: var(--light-black);
    border: 1px solid transparent;
    transition: 0.3s ease-in-out;
    padding: 11px 29px;
    border-radius: 10px;

}

.btn-login:hover {
    background: var(--light-black);
    color: var(--white);
    border: 1px solid var(--gray);
}

.btn-register {
    padding: 11px 29px;
    background: var(--primary);
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    transition: 0.3s ease-in-out;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 13px;
    line-height: 15.73px;


}

.btn-register:hover {
    background: var(--light-black);
    color: var(--white);
    border: 1px solid var(--gray);
}


.header-mobile-actions {
    display: none;
}

.menu-content-mobile {
    display: none;
}


.burger {
    display: none;
}

.icon-logo {
    font-size: 33px;
    background: var(--black);
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

    .menu {
        margin-left: 0;
    }

    .header-body {
        gap: 50px;
    }

    .menu-list {
        gap: 30px;
    }
}

@media (max-width: 992px) {
    .burger.active {
        position: relative;
        transition: .3s;
        z-index: 3;
    }


    .menu-list {
        margin-top: 50px;
        flex-direction: column;
        gap: 12px;
        flex: 1 1 auto;
    }

    .menu-item {
        width: 100%;
    }

    .header-body::after {
        display: none;
    }

    .menu-link {
        width: 100%;
        padding: 6px 0;
        border-bottom: 1px solid #939393;
        text-align: start;
        color: var(--white);

    }

    .menu-bg {
        background: #000000BF;
        backdrop-filter: blur(6px);
        position: fixed;
        right: -200%;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 2;
        transition: .3s;
        display: block;

    }

    .burger {
        flex: 0 0 23px;
        height: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        cursor: pointer;
        transition: .3s;
        z-index: 4;
    }

    .burger span {
        width: 23px;
        display: block;
        height: 2px;
        background: white;
        transition: .3s;
        border-radius: 5px;

    }


    .header-body {
        padding: 20px 0;
    }

    .burger::after {
        width: 23px;
        content: '';
        display: block;
        height: 2px;
        background: white;
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 23px;
        content: '';
        display: block;
        height: 2px;
        background: white;
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }



    .burger.active::before {
        transform: rotate(-45deg);
        top: 8px;
        position: relative;


    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 8px;
        position: relative;

    }

    .menu-bg.active {
        right: 0;
    }

    .menu {
        position: fixed;
        right: -200%;
        top: 0;
        width: 100%;
        height: 100vh;
        transition: .3s;
        z-index: 3;
        padding: 16px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
    }


    .menu.active {
        right: 0;
    }


}

@media (max-width: 768px) {


}

@media (max-width: 576px) {
    .header-actions {
        display: none;
    }

    .header-mobile-actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .header-decor::after {
        display: none;
    }


}

@media (max-width: 400px) {

}